
body{
	box-sizing:inherit;
	min-height:100%;
	background-color:black;
	
}
title{
	text-transform:uppercase;
	
}

.myinfo{
	color:red;
	font-weight:bolder;
	font-size:1.3em;
	
}
.myinfo1{
	font-size:1em;
	color:red;
	font-weight:bold;
	
}
button{
font-size:2em;
background-color:#0530a0;
border:none;
}
button:hover{
color:red;
background-color:blue;
border:none;
}
.just{
background-color:black;
border:3px dashed blue;
color:blue;
font-weight:bolder;
font-size:1.3em;
}
p{
font-family:monotype corsiva;
font-size:3em;
color:rgb(0,0,255);
background-color:black;
text-shadow:2px 1px 1px white;
text-align:center;
text-transform:uppercase;
border-style:double;
border-width:2em;
border-color:gray;
}
/*This is css */
div.container{
overflow:hidden;
	padding:8px;
	height:15em;
	width:100%;
background-color: #000066;
box-shadow:1px 8px 1px #00004d;
border-color:#00004d;
border-width:3px;
border-top-style:outset;
border-left-style:inset;
border-radius:9px;
border-right-style:outset;border-right-width:5px;
}
/*image top */
div.d{
	position:relative;
	float:left;
	display:inline-block;
height:100%;
	width:22%;
}
img.f{
	height:100%;
	width:100%;
	
}
/*name of school */
h2.g{
	font-size:2.4em;
	font-family:Comic Sans MS;

}
.areywaa{
	display:block;
	
	
}




div.e{
display:inline-block;
width:77%;
height:100%;


}
/* Now the buttons has started */
.
div.containerb{
	overflow:hidden;
	 width:100%;
	height:3em;
	background-color:#000066;
	position:relative;
top:6px;
border-color:#00004d;
box-shadow: 1px 8px 2px #00004d;
border-radius:2px;

}
/* this is actually outside element */


a.headbuttona:hover{
	border:none;
	background-color:#09094a;
	font-size:1.51em;
	color:white;
	border-right-style:solid;
	border-right-color:white;
	border-right-width:2px;
	
}
a.homedada{
	background-color:#0303a8;
	
}
a.headbuttona{
	display:inline-block;text-decoration:none;
	border-right-style:solid;
	border-right-color:white;
	border-right-width:2px;
	background-color:#000066;
	font-size:1.5em;
	height:4%;
	color:black;
	font-weight:bolder;

	padding-top:6px;
	padding-left:14px;
	padding-right:14px;
	text-align:center;
		transition-duration:0.31s;
}
.headbutton{}
a.headbuttona:active{
	border:none;
	background-color:#0064ff;
color:blue;
	font-size:18px;
	transition-duration:0.3s;
}
/* Now the third section is started
introduction and images sections. */

div.thirdcontainer{
	background-color:white;
		overflow:hidden;
display:block;


	
}
/* for introduction, */

div.z{
	width:49%;

	float:left;
	margin-top:0.86em;
height:100%;
	
	background-color: #d1d1e0;
	display:block;
	box-shadow:2px 8px 2px  #3d3d5c;
	
}

.introductionheader{
	color:#00003a;
	font-family:Comic Sans MS;
	text-indent:10px;
	
	
	
}

.contents{

	font-family:Gabriola;
	color:#000033;
	font-size:2em;
	text-align:justify;
	padding-left:18px;
	padding-right:18px;
	line-height:1em;
	

}

/* for next image */

/*div main*/div.y{

	display:inline-block;
	height:100%;
	width:50%;

			
		
	
		

}
img.schoolimg{

	
	height:100%;
	width:100%;



}
/* positionnow is specially for positioning of contents in introduction */
p.positionnow{
	position:relative;
	
		background-color: #d1d1e0;
		border-radius:5px;
	
}
/* now the next container starts with texts */

div.containerd{
	display:table;
	padding-left:4em;
	padding-top:3.3em;
	background-color:#000066;
	border-radius:5px;overflow:hidden;
	border-top:5px inset #3d0099;
	width:96%;
	overflow:hidden;
	box-shadow:2px 7px 1px #00004d;
	
	
}
/* Now storage of buttons of facebook, twitter, google and youtube and notice. */
div.containerf{
	display:table;overflow:hidden;
		background-color:#33334d;
	border:1px solid black;
	border-radius:30px;
	margin-top:7px;
	
}
img.smallbuttons{
	height:50px;
	width:50px;
	
}
div.buttonstorages{
	background-color:#33334d;
	float:left;
	width:11%;

	box-sizing:border-box;
	
	
}
a.photoanimates:hover{
	font-size:12px;
	background-color:black;
	transition-duration:2.3s;
	border:1px solid #33334d;
	
	
}
a.photoanimates:active{
	font-size:12px;
	background-color:silver;
	transition-duration:0.0004s;
	
}
/* now notice space starts out for storing some data and informations. */
div.noticestorage{
	float:left;
	width:88%;
	background-color:#d1d1e0;
	border-left:2px outset white;
	box-sizing:border-box;
	
}
h2.noticesay{
	padding-left:2em;
	font-family:Comic Sans MS;
	
}
p.notice{
	padding-left:2em;
	text-indent:2em;
	
}

.honeybee{
	display:block;
	overflow:hidden;
	
}

div.butterfly{
	background-color:white;
	
	
}
div.sameproperty{
	height:40em;
	width:100%;
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:white;
}

img.commons{
	height:100%;
	
	
}
img.unq{
	float:left;
	width:49%;
	border-right-style:solid;
	border-right-width:3px;
	border-right-color:white;
}
img.unq1{
	width:50%;
}
footer{
	background-color:#000066;
	height:20em;
	border-radius:0.1em;
	
}

#last{
	color:blue;
	
}

#slast{
	height:70%;
	background-color:#1616b3;
}
#flast{
	border-top:1px solid white;
	height:29%;
}
span#t{
	position:relative;
	
	padding-top:4em;
	margin-left:2em;
	
}

.smallbutto:hover{
	height:2em;width:2em;
	
}
.comm{display:inline-block;}
#gaaa{
	padding-top:1em;
	display:inline-block;
	height:100%;width:69%;
}

#address{
	color:white;
	display:inline-block;
	margin-left:4em;
	height:100%;
	width:30%;
	
}
#gah{
	margin-left:1em;
	display:inline-block;
}

.dropdown{height:100%;display:inline-block;}
.dropdown:hover .dropdownd{display:block;}
.dropdownd{display:none;z-index:-1;}
.dropdownd a{display:block;}
.dropdown:hover .bbb{background-color:red}